fieldset {
  width: 355px;
  height: 640px;
  border-radius: 30px;
  border: 5px solid black;
  padding: 0.5px;
  background-color: white;
  margin: 0 auto;
}

button:active {
  background-color: darkgray;
  transform: scale(0.95); 
}

h1 {
  margin: 0;
  padding: 0;
  background-color: rgb(90, 89, 89);
}
h2 {
  margin-top: 3px;
  margin-bottom: 10px;
  padding: 0;
  background-color: rgb(122, 116, 116);
}
h3 {
  margin-top: 10px;
  margin-bottom: 5px;
  padding: 0;
  background-color: rgb(153, 149, 149);
  border-radius: 5px;
}
h4 {
  margin-top: 5px;
  margin-bottom: 10px;
  padding: 0;
  background-color: rgb(153, 149, 149);
  border-start-end-radius: 90px
}

.phone {
  margin: auto;
  padding-right: 5px;
  width: 360px;
  height: 650px;
  background-color: gray;
  border-radius: 30px;
  box-shadow: 0 0 20px black;
}

.app {
  text-align: left;
  background-color: rgb(212, 208, 208);
  border-radius: 2px;
}

.top-phone {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 15px;
  padding-bottom: 20px;
  padding-top: 5px;
  font-weight: bold;
  font-size: medium;
  margin: auto;
}
.time {
  margin: 0;
}
.cam {
  margin: 0;
}
.battery {
  margin: 0;
}

.bottom-phone p{
  font-size: 40px;
  display: flex;
  justify-content: center;
  text-align: center;
  align-items: center;
  font-weight: bold;
  margin: 0;
}

.bottom-phone:hover {
  opacity: 0.5;
  color: rgb(161, 159, 159);
  cursor: pointer;
}

.task-row {
  display: flex;
  align-items: center;
  width: 100%;
}
.task-row input {
  border-radius: 5px;
  margin-left: 3px;
  flex: 5;
}
.task-row button {
  margin-left: 5px;
}
.li-row {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

footer {
  font-size: smaller;
  display: flex;
  justify-content: center;
  text-align: center;
  align-items: center;
  margin: 0;
}